force-app/main/default/flows/Oportunidade_NovaOportunidade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_CloseDate</name>
        <label>Setar CloseDate para 90 dias</label>
        <locationX>56</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frm_CloseDate90Dias</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_CloseDate_Vazio</name>
        <label>CloseDate está vazio?</label>
        <locationX>176</locationX>
        <locationY>230</locationY>
        <defaultConnectorLabel>CloseDate já preenchido</defaultConnectorLabel>
        <rules>
            <name>CloseDate_Nulo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CloseDate</targetReference>
            </connector>
            <label>CloseDate vazio</label>
        </rules>
    </decisions>
    <description>Ao criar uma nova Oportunidade, verifica se o CloseDate está vazio e, se sim, define automaticamente para 90 dias a partir de hoje (ADDDAYS(TODAY(), 90)). Roda somente na criação (Before Save, sem DML adicional). Sem condições de entrada — aplica-se a todas as novas Oportunidades.</description>
    <environments>Default</environments>
    <formulas>
        <name>frm_CloseDate90Dias</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <interviewLabel>Oportunidade - Nova Oportunidade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidade - Nova Oportunidade</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_CloseDate_Vazio</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
